@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #0fa968;
  --title-color: #108554;
  --text-color: #126945;
  --body-color: #11563a;
  --container-color: #03301f;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



header {
  background-color: black;
  padding: 1em 1em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1600px;
}

nav figure img {
  max-width: 50px;
}

nav .links ul {
  display: flex;
}

nav ul {
  list-style-type: none;
}

header ul a {
  text-decoration: none;
  margin: 0 1em;
  color: #0fa968;
}

nav ul li button {
  background-color: transparent;
  border: none;
  display: none;
}

nav ul li button img {
  max-width: 30px;
  margin: 1em;
}

.no-display {
  display: none;
}

header menu {
  display: flex;
  justify-content: center;
  text-align: center;
}

header menu li {
  margin: 1em 0;
}

@media only screen and (max-width: 800px) {
  nav ul a {
    display: none;
  }

  nav ul li button {
    display: block;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hero {
  background-image: url(/images/heroimg.jpg);
  max-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.589);
  padding: 10em 0;
}

.hero-container h1 {
  font-size: 62px;
  color: var(--title-color);
}

.hero-container h3 {
  color: var(--text-color);
  margin-top: 1em;
}



/*=============== CARD ===============*/
.container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;

}

.card__img {
  width: 328px;
  border-radius: 1.5rem;
}

.card__data {
  width: 280px;
  background-color: #03301f;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: .813rem;
  margin-bottom: .25rem;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #108554;
  margin-bottom: .75rem;
}

.card__button {
  text-decoration: none;
  font-size: .813rem;
  font-weight: 500;
  color: #0fa968;
}

.btn {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.card__button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }

  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }

  50% {
    transform: translateY(-10rem);
  }

  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }

  50% {
    overflow: hidden;
  }
}

@media only screen and (max-width: 800px) {
  nav ul a {
    display: none;
  }

  nav ul li button {
    display: block;
  }

  .hero-container h1 {
    font-size: 48px;
  }
}

@media only screen and (max-width: 430px) {
  .hero-container h1 {
    font-size: 26px;
  }

  .hero-container h3 {
    font-size: 16px;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .card__img {
    width: 348px;
  }

  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}