* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    padding: 1em 1em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1600px;
}

nav figure img {
    max-width: 50px;
}

nav .links ul {
    display: flex;
}

nav ul {
    list-style-type: none;
}

header ul a {
    text-decoration: none;
    margin: 0 1em;
    color: #0fa968;
}

nav ul li button {
    background-color: transparent;
    border: none;
    display: none;
}

nav ul li button img {
    max-width: 30px;
    margin: 1em;
}

.no-display {
    display: none;
}

header menu {
    display: flex;
    justify-content: center;
    text-align: center;
}

header menu li {
    margin: 1em 0;
}

@media only screen and (max-width: 800px) {
    nav ul a {
        display: none;
    }

    nav ul li button {
        display: block;
    }
}